**/ganexplainer/
modules/stylegan2-ada-pytorch/ffhq.pkl
modules/encoder4editing/checkpoints/e4e_ffhq_encode.pt

# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore environment and build artifacts
.venv/
env/
build/
dist/

# VSCode settings
.vscode/
